
<h2 class="text-center" >Checkout Page</h2>
<div class="container wrapper">
    <div class="row cart-head">
        <div class="container">
        <div class="row">
            <p></p>
        </div>
       
        <div class="row">
            <p></p>
        </div>
        </div>
    </div>    
    <div class="row cart-body">
        <form class="form-horizontal" (ngSubmit)="placeorder()">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
            
            <!--REVIEW ORDER END-->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
            <!--SHIPPING METHOD-->
            <div class="panel panel-info">
                <div class="panel-heading">Address</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <h4>Shipping Address</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-xs-12">
                            <strong>Full Name:</strong>
                            <input [(ngModel)]="order.name" type="text" name="first_name" class="form-control" value="" />
                        </div>  
                    </div>
                    <div class="form-group">
                        <div class="col-md-12"><strong>Address:</strong></div>
                        <div class="col-md-12">
                            <input required [(ngModel)]="order.Address" type="text" name="address" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12"><strong>City:</strong></div>
                        <div class="col-md-12">
                            <input required [(ngModel)]="order.city" type="text" name="city" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12"><strong>Country:</strong></div>
                        <div class="col-md-12">
                            <input required [(ngModel)]="order.country" type="text" class="form-control" name="country" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12"><strong>State:</strong></div>
                        <div class="col-md-12">
                            <input required [(ngModel)]="order.state" type="text" name="state" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12"><strong>Zip / Pin Code:</strong></div>
                        <div class="col-md-12">
                            <input required [(ngModel)]="order.pincode" type="text" name="zip_code" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12"><strong>Phone Number:</strong></div>
                        <div class="col-md-12"><input required [(ngModel)]="order.phonenumber" type="text" name="phone_number" class="form-control" value="" /></div>
                    </div>
                   <br>
                    <button [disabled]="!order.Address || !order.city|| !order.pincode|| !order.state|| !order.country|| !order.name|| !order.phonenumber" type="submit" class="btn btn-primary col-md-12 ">Place Order</button>
                     
                </div>
            </div>
            <!--SHIPPING METHOD END-->
            <!--CREDIT CART PAYMENT-->
          
            <!--CREDIT CART PAYMENT END-->
        </div>
        </form>
    </div>
    <div class="row cart-footer">

    </div>
</div>