<div class="image" style="margin-left: 900px;">
  <img src="assets/Image/pngwing.com (1).png" style="width: 200px; height: 200px;">
</div>
<div class="container">
   
  <div class="row">
    <div *ngIf="!toggle" class="col-4">
      <h2 class="text-center">Seller User</h2>

      <form (submit)="Signup()">
        <label class="text-danger">{{loginfailed}}</label>

        <div class="mb-3">
          <label for="examplenameEmail1" class="form-label">Name</label>
          <input [(ngModel)]="sellerSignup.name" name="name" class="form-control" id="examplenameEmail1">

        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input [(ngModel)]="sellerSignup.email" name="email" type="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input [(ngModel)]="sellerSignup.password" name="password" type="password" class="form-control"
            id="exampleInputPassword1">
        </div>
        <span>if you already registered click here to <span><a style="color: blue; cursor: pointer;"
              (click)="openLogin()">login</a></span></span>
        <br>
        <button type="submit" class="btn btn-primary">Signup</button>
      </form>
    </div>

    <!-- login -->
    <div *ngIf="toggle" class="col-4">
      <h2 class="text-center">Login User</h2>

      <form (submit)="Login()">
        <label class="text-danger">{{loginfailed}}</label>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input [(ngModel)]="sellerSignup.email" name="email" type="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input [(ngModel)]="sellerSignup.password" name="password" type="password" class="form-control"
            id="exampleInputPassword1">
        </div>
        <span>if you dont registered click here to<span><a style="color: blue; cursor: pointer;" (click)="openSignup()">
              Signup</a></span></span>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>